.main_body{
    margin-left: 220px;
    margin-right: 220px;

}
.mainbody_top{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 15px;
}
.mainbody_top_left{

}
.mainbody_top_right{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.mainbody_top_center{
    padding:3px 5px;
    font-size:16px;
    margin-right:125px;
    border-radius:  6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    cursor: pointer;
}
.mainbody_top_center:hover{
    background-color: rgb(224, 223, 223);
    border-radius: 8px;
}
.mainbody_docs{

}
.doc_card{
    width: 208px;
    height: 244px;
    border:0.2px solid rgb(204, 202, 202);
    border-radius:2px;
}
.doc_card:hover{
    border: 1px solid #6e2594;
    cursor: pointer;
}
.doc_card_img{
    width: 208px;
    height: 169px;
}
.doc_card_content{
    padding: 0 12px;
}
.doc_card_content > h5{
    padding:  4px 0;
    margin: 0;
    font-weight:400;
}
.doc_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_left{
    display:flex;
    justify-content: space-between;
    font-size: 12px;
}