.template_section{
    background-color: #f1f3f4;
    padding-bottom: 40px;
    padding-top: 7px;


}

.template_top{
    margin-left: 224px;
    margin-right: 224px;
    display: flex;
    align-items: center;
    justify-content:space-between
}

.template_left{

}

.template_right{
    display: flex;

}
.gallery_button{
    padding:0 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    cursor: pointer;
}
.gallery_button:hover{
    background-color: rgb(224, 224, 224);
    border-radius: 8px;
}

.template_body{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content:space-between

}
.card{
    display: flex;
    flex-direction:column;
    margin-left: 20px;
    margin-top: 15px;
}
.card_img{
    box-sizing: border-box;
    height: 128px;
    width: 170px;
    cursor: pointer;
    border: radius 2px;
    border: 0.2px solid #f4e2f8;
}
.card_img:hover{
    border: 1px solid #6e2594;
}
.card_title{
    font-size:'16px';
    color:'#202124';
    margin-top: 2px;
    font-weight: 500;
}
